{% set title = "직원 등록" %} {% extends "layout/base.html" %} {% block content
-%}
<form action="" method="post">
  <table class="table table-bordered">
    <tr>
      <th>이름</th>
      <td>
        <input
          type="text"
          name="name"
          class="form-control"
          value="{{ contact.name }}"
        />
      </td>
    </tr>
    <tr>
      <th>주소</th>
      <td>
        <input
          type="text"
          name="address"
          class="form-control"
          value="{{ contact.address }}"
        />
      </td>
    </tr>
    <tr>
      <th>직책</th>
      <td>
        <input
          type="text"
          name="position"
          class="form-control"
          value="{{ contact.position }}"
        />
      </td>
    </tr>
  </table>
  <button class="btn btn-primary">작성하기</button>
</form>

{% endblock %}
